body, html{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    font-family: sans-serif;
}

button, input{
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
#start{
    background-color: rgb(248, 214, 21);
}
#search{
    background-color: green;
    color: white;
}
input{
    width: 250px;
}

#omdbFile{
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 200px;
    height: max-content;
    border-radius: 3px;
}
.logo{
    width: 200px;
    height: 250px;
    background-color: grey;

}
.name{
    background-color: rgba(119, 136, 153, 0.5);
    margin: 0;
    padding: 10px;
    text-align: center;
}
.year, .category{
    margin: 5px;
    /* padding: 0; */
    text-align: center;
}
.more{
    width: 100%;
    background-color: green;
    margin: 0;
    color: white;
    border: 0;
}